/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  font-family: 'Muli', sans-serif;
  font-size: 15px,
}

h2{
	font-family: 'Signika', sans-serif;
	font-weight: 700;
}

.navbar{
	background-color: white;
	border-color: white;
	opacity: 0.97;
}

/*.navbar-brand img{
	height: 40px;
}*/

.logo{
	content: url(../images/logo-dbambini.png);
	height: 40px;
}

.navbar-header{
	margin-top: -10px;
}

ul.nav {
	font-family: 'Muli', sans-serif;
	font-weight: 300;
}

#navbar a{
	color: #666666;
}

#navbar a:hover{
	color: #dd2b41;
}

.jumbotron h1 {
	font-family: 'Signika', sans-serif;
}

ul.nav {
	font-size: 13px;
}



.navbar-inverse .navbar-toggle{
	border: none;
	background-color: #05B7F5;
	margin-top: 20px;
}

.navbar-inverse .navbar-toggle:hover{
	background-color: #05B7F5;
	opacity: 0.8;
}

.navbar-inverse .navbar-toggle:focus{
	background-color: #05B7F5;
}

.navbar-inverse .navbar-toggle:active{
	background-color: #009DD4;
}


#educadores{
	background-color: #FFE44A;
}

#proposta-ensino{
	background-color: #F5F5F5;
}

.jumbotron {
	text-align: center;
	/*background: #00baff url('../images/painted-hands.png') no-repeat;*/
	/*background: #dd2b41 url('../images/painted-hands.png') no-repeat;*/
	background: #FFAD08 url('../images/painted-hands.png') no-repeat;
	background-size: cover;
	color: white;
	margin-bottom: 0;
}

.jumbotron h1{
	margin-top: 50px;
	font-weight: 700;
	margin-bottom: 60px;
}


.jumbotron p{
	font-family: 'Muli', sans-serif;
	margin-bottom: 40px;
	margin-top: 40px;
	font-weight: 300;
	padding: 0 50px;
}

.btn-lg{
	font-family: 'Signika', sans-serif;
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;
	color: white;
	border: none;
	background-color: #05B7F5;
	margin-top: 20px;
}

.jumbotron .btn-lg:hover{
	background-color: #2BC7FD;
	}

.jumbotron .btn-lg:focus{
	background-color: #00A8E2;
	}



.jumbotron .btn-lg:active{
	background-color: #00A8E2;
	}





.homepage{

	text-align: center;
	padding-top: 40px;
  padding-bottom: 60px;
}

.homepage h2, .homepage h3{

	color: #6F6F6F;
	font-family: 'Signika', sans-serif;
	font-weight: 700;
	/*text-transform: uppercase;*/
}

.homepage h2{
	font-size: 26px;
}

.homepage h3{
	font-size: 18px;
	margin-bottom: 15px;
}

.homepage p{
	font-weight: 300;
	font-size: 15px;
	color: #6F6F6F;
	line-height: 150%;
	margin-bottom: 30px;

}

.homepage a{
	color: #e74c3c;
}

.botoes a{
	color: white;
}

.botoes a:hover{
	color: white;
}

.botoes a:active{
	color: white;
}

.botoes a:focus{
	color: white;
}

.homepage a:hover{
	color: #e74c3c;
	text-decoration: none;
	opacity: .8;
}

.homepage hr{
	border-top: 3px solid #FFAD08;
	width: 160px;
	margin-top: 15px;
}

.texto{
	width: 85%;
}

.fa-stack{
	color: #d0dee3;
	margin-bottom: 5px;

}



.btn-default{
	font-family: 'Signika', sans-serif;
	font-size: 15px;
	background-color: #05B7F5;
	border: none;

}

.btn-default:hover{

	background-color: #2BC7FD;

}

#proposta-ensino .btn:active{

	background-color: #00A8E2;

}


.btn:focus{
	background-color: #05B7F5;
	}


.btn a{
	color: white;
}

.homepage .btn:hover{
	color: white;
}


.atividade-brincar{
	background-color: #e74c3c;
	padding: 30px;
}

.atividade-brincar h3{
	color: white;
}

.atividade-brincar img{
	width: 50%;
	padding-bottom: 10px;
}

.atividade-estimulo{
	background-color: #C6A3E0;
	padding: 30px;
}

.atividade-estimulo h3{
	color: white;
}

.atividade-estimulo img{
	width: 50%;
	padding-bottom: 10px;
}

.atividade-natureza{
	background-color: #2ecc71;
	padding: 30px;
}

.atividade-natureza img{
	width: 50%;
	padding-bottom: 10px;
}

.atividade-natureza h3{
	color: white;
}



.atividade-fisica{
	background-color: #AFC95E;
	padding: 30px;
	margin-top: 30px;
}

.atividade-fisica h3{
	color: white;
}

.atividade-fisica img{
	width: 50%;
	padding-bottom: 10px;
}

.atividade-imaginacao{
	background-color: #8CD5D9;
	padding: 30px;
	margin-top: 30px;
}

.atividade-imaginacao img{
	width: 50%;
	padding-bottom: 10px;
}

.atividade-imaginacao h3{
	color: white;
}

.atividade-grupo{
	background-color: #3F2E8A;
	padding: 30px;
	margin-top: 30px;
}

.atividade-grupo h3{
	color: white;
}

.atividade-grupo img{
	width: 50%;
	padding-bottom: 10px;
}



.row{
	margin-top: 40px;
}

.row-fotos{
	margin-top: 0;
	margin-bottom: 20px;
}

#labels{
	opacity: 0.4;
	font-size: 15px;
}

.foto{
	background-color: #8CD5D9;
	/*padding: 30px;*/
	margin-top: 30px;
}

.foto img{
	width: 100%;
	/*padding-bottom: 10px;*/
}

#turmas{
	background-color: #DFF4F5;
	margin-top: 20px;
}




.turma-img img{
	width: 50%;
}

.row-turmas{
	margin-top: 0;
}

.row-turmas span{
	font-family: 'Signika';
    font-size: 18px;
    color: #E74C3C;
    font-weight: 700;
}

.turma-img{
	margin-bottom: 50px;
}


#contate {
	background-color: #05B7F5;
}

.formas-contato a{
	color: #fff;
	text-decoration: none;
}

.formas-contato a:hover{
	color: #ADE376;
	
}

.formas-contato a{
	color: #fff;
	text-decoration: none;
}

.formas-contato a:hover{
	color: #ADE376;
	
}

.homepage-contate{

	text-align: center;
	padding-top: 40px;
  padding-bottom: 20px;
}

.homepage-contate h2, .homepage-contate h3{

	color: #fff;
	font-family: 'Signika', sans-serif;
	font-weight: 700;
	/*text-transform: uppercase;*/
}

.homepage-contate h2{
	font-size: 26px;
}

.homepage-contate h3{
	font-size: 18px;
	margin-bottom: 15px;
}

.homepage-contate p{
	font-weight: 300;
	font-size: 15px;
	color: #fff;
	line-height: 150%;
	margin-bottom: 0;

}

.homepage-contate hr{
	border-top: 3px solid #ADE376;
	width: 160px;
	margin-top: 15px;
}

.homepage-contate span{
	color: #ADE376;

}


footer{
	background-color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	
}


footer p{
	text-align: center;
	font-size: 11px;
	color: #c6c6c6;
}

footer h2 {

	font-size: 21px;
	text-align: center;
}

footer h2 a{
	color:#c6c6c6;
}

footer h2 a:hover{
	color: #dd2b41;
}

footer img{
	height: 40px;
}

#navbar-footer li{
	list-style: none;
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#navbar-footer ul{
	
	text-align: center;
}

#navbar-footer a{
	color: #999999;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'Signika', sans-serif;
	font-weight: 700; 
	
}

#navbar-footer a:hover{
	color: #dd2b41;

}


/* Responsive Styling */

@media (max-width: 1199px) {

	.jumbotron h1 {
		font-size: 56px;
		margin-bottom: 30px;
	}

}


@media (max-width: 991px) {



	.jumbotron h1 {
		font-size: 44px;
		
	}

	.jumbotron p{
		padding: 0 10px;
	}

	#proposta-ensino .col-md-4 {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	#atividades .col-md-4 {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.logo{
	content: url(../images/logo-dbambini-responsive.png);
	height: 35px;




}


@media (max-width: 767px) {

	.jumbotron h1 {
		font-size: 34px;
		
	}

	.jumbotron p{
		font-size: 18px;
		padding: 0;
	}

	.homepage p{
		font-size: 18px;
	}

	.btn-lg{
		font-size: 26px;
	}

	footer img{
	height: 38px;
}

	.navbar {
		text-align: center;
	}

	.logo{
	content: url(../images/logo-dbambini.png);
	height: 38px;
	}

}





























